GIS_PATROL_MAJOR_VERSION = 0
GIS_PATROL_MINOR_VERSION = 0
GIS_PATROL_PATCH_VERSION = 1
GIS_PATROL_PATCH1_VERSION = 1

#external libraries paths
EXT = /usr
EXTERNAL_PREFIX = $$EXT

#additional installation params
GIS_PATROL_EXEC_DIR = $$GIS_PATROL_PREFIX/bin
GIS_PATROL_BIN_DIR = $$GIS_PATROL_PREFIX/bin
GIS_PATROL_LIB_DIR = $$GIS_PATROL_PREFIX/lib
GIS_PATROL_INCLUDE_DIR = $$GIS_PATROL_PREFIX/include
GIS_PATROL_PLUGIN_DIR = $$GIS_PATROL_PREFIX/ddocplugins
GIS_PATROL_DOC_DIR = $$GIS_PATROL_PREFIX/share/doc
GIS_PATROL_TRANSL_DIR = $$GIS_PATROL_PREFIX/bin

